.banner {
  height: 450px;
  background: url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-position: center;

  .banner-con {
    height: 450px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;

    .banner-text {
      h1 {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
        z-index: 5;
      }
      p {
        line-height: 20px;
      }
    }
  }
}
